<div class="home-container">
    <div class="hero">
    <h1 class="hero-title">
      Discover Your <span class="accent">Next Opportunity</span>
    </h1>
    <p class="hero-subtitle">
      Explore top openings and apply directly through trusted company links.
    </p>
  </div>
  

  <!-- Loading spinner -->
  <div class="loading" *ngIf="loading()">
  <div class="spinner"></div>
  <p>Loading Jobs Data...</p>
</div>

  <!-- Error message -->
  <div class="error" *ngIf="error()">{{ error() }}</div>

  <!-- Cards -->
  <div class="card-grid" *ngIf="!loading() && !error()">
    <div class="company-card" *ngFor="let c of companies()">
      <div class="card-header">
        <h3><strong class="comp-name">{{ c.company_name }}</strong></h3>
      
      </div>
  <p class="about"> <strong>Location: </strong>{{ c.location }}</p>
      <p class="about"><strong>Role: </strong>{{ c.role }}</p>
        <p class="about"><strong>Skills:</strong> {{ c.skills }}</p>
        <p class="about"><strong>Info:</strong> {{ c.info }}</p>
      <a [href]="c.apply_link" target="_blank" class="apply-btn">Apply Now</a>
    </div>
  </div>
</div>
